.header{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    align-items: center;
    padding: 20px 0;
<<<<<<< HEAD
    
=======
    /* width: 100%; */
>>>>>>> ed5bb9d077b81ac1f2f2a37da3c5d47bdaba887b
}

.header_item a{
    font-size: 24px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.header_item>img{
    width: 80px;
    height: 80px;
    margin-left: 90px;
}

.header_item:last-child{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}