body {
    margin:0;
    padding:0;
    Background-color: #ffffff;
    font-family: 'DelaGothicOne', sans-serif;
}

.main-content {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ccc;
}


.main-content {
    text-align: left;
    margin: 50px auto;
    max-width: 800px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.flex-item {
    flex: 1;
    margin-right: 10px;
}

.flex-item:last-child {
    margin-right: 0;
}

h3 {
    margin: 0; 
}

p {
    margin: 0; 
}