.main-page{
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.main-page-info h1{
    font-family: "DeltaGothicOne";
    font-size: 66px;
    margin-bottom: 20px;
    text-align: left;
}

.main-page-info h4{
    font-size: 30px;
    margin: 30px 0;
    text-align: left;
}

.main-page-info p {
    font-size: 24px;
}

.main-page .help{
    display: flex;
    align-items: center;
    border: 1.5px solid #000;
    width: 373px;
    padding: 15px;
    border-radius: 20px;
    margin-top: 50px;
}

/* .main-page-img img{
    margin-left: 40px;
} */

.main-page-img{
    /**/
}

.main-page-info h1 .gradient{
    font-family: "DeltaGothicOne";
    font-size: 66px;
    margin-bottom: 20px;
    width: auto;
    background: linear-gradient(to right, #EC7207, #FD5B80);
    -webkit-background-clip: text; /* Ensures background is clipped to text */
    -webkit-text-fill-color: transparent; /* Makes the rest of the text transparent */
}