.main-work-page{
    height: 730px;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: "DeltaGothicOne";
    font-size: 70px;
    margin-bottom: 100px;
    text-align:center;
}
.main-work-page-info p {
    font-size: 25px; 
    line-height: 1.6; 
    text-align: center; 
    margin-bottom: 20px;
}

.main-work-page-img {
    width: 100%; /* Make sure it takes up the full width */
    text-align: center; /* Center the image inline */
    display: inline;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.flex-item {
    flex: 1;
    margin-right: 10px;
}

.flex-item:last-child {
    margin-right: 0;
}

h3 {
    margin: 0;
    font-size:36px;
    display: inline;
}

