.news-page{
    height: 760px;
    width: 100%;
}

.news-content{
    position: relative;
}

.news-content h2{
    font-family: "DeltaGothicOne";
    font-size: 62px;
}

.news-content h2:first-child{
    position: absolute;
    left: 20%;
    top: 140px;
}

.news-content h2:nth-child(2){
    position: absolute;
    left: 36%;
    top: 220px;
}

.news-content h2:nth-child(3){
    position: absolute;
    left: 50%;
    top: 300px;
}

.news-content h2 .against{
    font-family: "DeltaGothicOne";
    font-size: 62px;
    color: #F5553D;
}

.news-text{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25%;
    background-color: #FF7BA7;
    padding: 30px;
    border: 1px solid #000;
}

.news-text p{
    font-size: 30px;
    line-height: 34px;
}

.bold-italic{
    font-style: italic;
    font-weight: bolder;
}

.news-img{
    position: relative;
}

#i1{
    position: absolute;
    left: 0;
    top: 40px;
    width: 300px;
    height: 100px;
}

#i2{
    position: absolute;
    /* left: 850px; */
    top: 20px;
    width: 200px;
    height: 200px;
}
#i3{
    position: absolute;
    right: 50px;
    top: 70px;
    width: 280px;
    height: 230px;
}

#i4{
    position: absolute;
    left: 300px;
    top: 340px;
    width: 240px;
    height: 190px;
}
#i5{
    position: absolute;
    left: 20px;
    top: 300px;
    width: 200px;
    height: 170px;
}

#i6{
    position: absolute;
    right: 140px;
    top: 420px;
    width: 300px;
    height: 100px;
}