.partners-next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 44px;
}

.partners-in{
    width: 95%;
    height: 95%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.partners-in h2{
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 0 20px;
    background: linear-gradient(90deg, #FB6B79 0%, #EE8021 100%);
    -webkit-background-clip: text; /* Clips the gradient to the text */
    -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
}

.partner-about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-about img{
    width: 600px;
}

.partner-text{
    width: 30%;
}

.partner-text p{
    margin: 30px 0;
}

.partner-text button{
    border-radius: 5px;
    padding: 6px 10px;
}

.partners-out{
    margin: 30px;
}

.partners-out p{
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    line-height: 28px;
}
